/* .App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  min-height: 10vh;
  height: ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #4e525c;
  min-height: 85vh;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #282c34;
  min-height: 5vh;
  height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  font-size: calc(1px + 2vmin);
  color: white;
} */